Repository playerony/typescript-library-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,md}": "prettier --write",
  "*.{js,ts}": "eslint --cache --fix",
  "package.json": "prettier-package-json --write"
}

fix: add open coverage command
  .lintstagedrc
  .prettierignore
  package.json
Due: prettier-package-json --write

chore: configure lint-staged (#2)
  .husky/.gitignore
  .husky/pre-commit
  .lintstagedrc
  .prettierignore
  package.json
  yarn.lock
Due: prettier-package-json --write

chore: configure circle ci
  .eslintrc
  .github/workflows/lint.yml
  package.json
  tests/index.test.ts
Due: prettier --write, eslint --cache --fix, prettier-package-json --write

fix: typecheck
  .github/workflows/typecheck.yml
Due: none

fix: more CI scripts
  .github/workflows/build.yml
  .github/workflows/test.yml
Due: none

fix: test commitlint job
  .github/workflows/commitlint.yml
Due: none

fix: test
  .github/workflows/commitlint.yml
  .github/workflows/test.yml
Due: none

fix: x
  tests/tsconfig.json
Due: none

fix: commitlint
  .github/workflows/commitlint.yml
Due: none

fix: test
  .github/workflows/commitlint.yml
  tests/tsconfig.json
Due: none

fix: tsconfig
  tests/tsconfig.json
  tsconfig.eslint.json
Due: none

fix: config
  tests/index.test.ts
Due: prettier --write, eslint --cache --fix

fix: test 2
  .github/workflows/test.yml
  tests/tsconfig.json
  tsconfig.eslint.json
Due: none

fix: x
  tests/index.test.ts
Due: prettier --write, eslint --cache --fix

chore: configure circle ci (#3)
  .eslintrc
  .github/workflows/build.yml
  .github/workflows/commitlint.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .github/workflows/typecheck.yml
  package.json
  tests/index.test.ts
Due: prettier --write, eslint --cache --fix, prettier-package-json --write

docs: update readme
  README.md
Due: prettier --write

docs: update readme (#4)
  README.md
Due: prettier --write

docs: configure api-extractor and api-documenter to generate library docs
  .gitignore
  README.md
  api-extractor.json
  docs/index.md
  docs/typescript-library-boilerplate.avg.md
  docs/typescript-library-boilerplate.md
  docs/typescript-library-boilerplate.sum3.md
  etc/typescript-library-boilerplate.api.md
  package.json
  yarn.lock
Due: prettier --write, prettier-package-json --write

docs: configure api-documenter to generate docs (#5)
  .gitignore
  README.md
  api-extractor.json
  docs/index.md
  docs/typescript-library-boilerplate.avg.md
  docs/typescript-library-boilerplate.md
  docs/typescript-library-boilerplate.sum3.md
  etc/typescript-library-boilerplate.api.md
  package.json
  yarn.lock
Due: prettier --write, prettier-package-json --write

chore: add useful shell scripts
  .github/workflows/prettier.yml
  .prettierignore
  package.json
  scripts/git-create-branch.sh
  scripts/git-push-changes.sh
  scripts/reinstall-node-modules.sh
  scripts/remove-node-modules.sh
Due: prettier-package-json --write

chore: add useful shell scripts
  package.json
Due: prettier-package-json --write

chore: add useful shell scripts
  README.md
Due: prettier --write

chore: add useful shell scripts (#6)
  .github/workflows/prettier.yml
  .prettierignore
  README.md
  package.json
  scripts/git-create-branch.sh
  scripts/git-push-changes.sh
  scripts/reinstall-node-modules.sh
  scripts/remove-node-modules.sh
Due: prettier --write, prettier-package-json --write

docs: add commit documentation section to readme
  README.md
Due: prettier --write

docs: add commit documentation section to readme (#7)
  README.md
Due: prettier --write

chore: update shell scripts
  package.json
  scripts/git-checkout-main-with-pull.sh
  scripts/git-create-branch.sh
  scripts/git-push-changes.sh
Due: prettier-package-json --write

chore: update shell scripts
  scripts/git-checkout-main-with-pull.sh
Due: none

chore: update shell scripts (#8)
  package.json
  scripts/git-checkout-main-with-pull.sh
  scripts/git-create-branch.sh
  scripts/git-push-changes.sh
Due: prettier-package-json --write

chore: create build-docs script
  .lintstagedrc
  etc/typescript-library-boilerplate.api.md
  package.json
  scripts/build-docs.sh
Due: prettier --write, prettier-package-json --write

chore: create build-docs script (#9)
  .lintstagedrc
  etc/typescript-library-boilerplate.api.md
  package.json
  scripts/build-docs.sh
Due: prettier --write, prettier-package-json --write

chore: create setup-project script
  README.md
  package.json
  scripts/setup-project.sh
Due: prettier --write, prettier-package-json --write

chore: create setup-project script
  README1.md
  package.json-e
  scripts/setup-project.sh
Due: prettier --write

chore: create setup-project script
  scripts/setup-project.sh
Due: none

chore: create setup-project script
  README.md
Due: prettier --write

chore: create setup-project script (#10)
  README.md
  package.json
  scripts/setup-project.sh
Due: prettier --write, prettier-package-json --write
